<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v1.Tammeni" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.v1.Tammeni.Tammeni.CoronaCentBugReports"
        android:allowBackup="true"
        android:icon="@drawable/new_app_logo"
        android:label="Tammeni"
        android:roundIcon="@drawable/new_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity android:name=".Activities.IntroAppActivity" >
        </activity>
        <activity
            android:name=".Activities.NewsWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CountriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.IntroSliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LeaderboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TestResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TestNowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>